<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncs.projecteranking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ncs.projecteranking.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ncs.projecteranking.SettingsActivity"
            android:label="@string/ajustaments" />
        <activity
            android:name="com.ncs.projecteranking.RankingActivity"
            android:label="@string/ranking" />
        <activity
            android:name="com.ncs.projecteranking.AboutActivity"
            android:label="@string/quanta" />
        <activity
            android:name="com.ncs.projecteranking.PlayActivity"
            android:screenOrientation="landscape"
            android:label="@string/jugar" />
        <activity android:name="com.ncs.projecteranking.UserActivity"></activity>
    </application>

</manifest>